# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log
